@()
<!DOCTYPE html>
<html>
<head>
      <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/chicken.png")">
      <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
      <link rel="javascript" href="assets/javascripts/bootstrap.min.js">
      
</head>
<body>
  <div class='container'>
  <h1> Camino </h1>
  <p>    </p>
 
  <h3>the Appointment management web page.</h3> 
  <p> The page is developed with JavaScript and React.js.</p>
  <p> The functionality include: display and edit appointment information, diplay and edit related resource information.</p>
  <br>
  <p>Screen shot</p>
    <img src="assets/images/apptmanagement.PNG"  height="400" width="800">
  
     
</div>
  

</body>
</html>