@()
<!DOCTYPE html>
<html>
<head>
      <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/chicken.png")">
      <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
      <link rel="javascript" href="assets/javascripts/bootstrap.min.js">
      
</head>
<body>
  <div class='container'>
  <h1> 3D Conway's Game of Life </h1>
  <p>The Game of Life, also known simply as Life, is a cellular automaton devised by the British mathematician John Horton Conway in 1970. From <cite> Wikipedia</cite> </p>
  <p> In more detail, the game is a grid of cells, each having a condition of alive or dead. In the common 2D version, each cell interacts with 8 neighbors. At each step, the 8 neighbors will determine whether the middle cell survives or not, based on simple rules like how many of the 8 neighbors are alive in this step.</p>
  <p>Here it's 3D version, where each cell interactions with 26 cells.</p>
  <p>And JavaFx is used to show the cell dynamics.</p>  
  
  
  <p>A demo of the application running</p> 
    <img src="assets/images/conway.gif"  height="400" width="400">
  
     
</div>
  

</body>
</html>