
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/chicken.png")">
       
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/starter-template.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/styles.css")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
       

        <style>
        
        a.anchor {
              display: block;
              position: relative;
              top: -150px;
              visibility: hidden;
          }
        </style>
        
        

    </head>
    <body>
      <!-- Navigation -->
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Haijin He's website</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#aboutme">About Me</a></li>
            <li><a href="#resume">Resume</a></li>
            <li><a href="#portfolio">Projects</a></li>
            <li><a href="http://github.com/hehaijin">Github</a></li>
            <li><a href="#contactme">Other Links</a></li>
          </ul>
           <ul class="nav navbar-nav navbar-right">
           <li><a href="#site">About this website</a></li>
        </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
  
    

   
      <a class="anchor" id="aboutme"></a>
      
      <div class="container " >
        <h1>About Me</h1>
        </div>
        <div class="container projectwrapper">
        <p > I have some experience in biological research before I changed to Computer Science. If you want to know more about my previous work, please visit my <a href="https://scholar.google.com/citations?hl=en&user=6hOYpPkAAAAJ&view_op=list_works&gmla=AJsN-F6OtGwguj6FVZbgOgDUNtvV-PNqJZiYPaJrCTsItipszjKlkWYXFuVmrJj8gpHa_71WMqki0U4iy6o-MOxgH0c9PWHGAMQ_kwviDW5MqjDBl3Kmp2M">Google scholar</a> page and <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=He+Haijin%5BAuthor%5D+AND+new+york+university" >Pubmed</a>. </p>
        
        <p>I am recently graduated from University of New Mexico with a Master's degree in Computer Science. I am very interest in web development. I took a part-time web development job and learned a lot from it. Here I am trying to build my own portfolio website to practice relevant skills. </p>
        
        <p>Still with some researcher mind-set, I am also very interested in Machine Learning. A good portion of my course work was devoted to it. And I've been actively participating in <a href="http://www.kaggle.com/hehaijin">Kaggle</a> competitions.</p>
        
        
        
        
        
       
        <p> </p>
      </div>
      
      
       <a class="anchor" id="resume"></a>
       <div class="container" >
        <h1>Resume</h1>
       
      </div>
      <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="assets/images/profile.png" alt="" />
                <h1 class="name">Haijin He</h1>
                <h3 class="tagline">Master student of Computer Science</h3>
                <h3 class="tagline">Part-time web developer</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: hehaijin1981@@email.com">hehaijin1981@@gmail.com</a></li>
                    <li class="phone"><i class="fa fa-phone"></i>505-908475</li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/haijin-he-0b9a9225/" target="_blank">https://www.linkedin.com</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/hehaijin" target="_blank">https://github.com/</a></li>
                   
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">Master in Computer Science</h4>
                    <h5 class="meta">University of New Mexico</h5>
                    <h5 class="meta">GPA: <strong>3.90</strong></h5>
                    <div class="time">Jan 2016 - Dec 2017</div>
                </div><!--//item-->
               
                <div class="item">
                    <h4 class="degree">Ph.D in Biophysics</h4>
                    <h5 class="meta">Institute of Biophysics, Chinese Academy of Sciences</h5>
                    <div class="time">2003-2010</div>
                </div><!--//item-->
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc">(Professional)</span></li>
                    <li>Chinese/Mandarin <span class="lang-desc">(Native)</span></li>
                </ul>
            </div><!--//interests-->
            
            
            
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Reading</li>
                    <li>Skiing</li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Qualifications</h2>
                <div class="summary">
                <ul>
                    <li>New grad with Solid computer science knowledge and good academic standing.</li>
                    <li>Extensive knowledge and project experience on machine learning in Python and related libraries.</li>
                    <li>1 year of work experience in web development both in front-end and back-end.</li>
                    <li>Experienced in Object oriented (Java, Python) and functional programming (Scala) principles.</li>
                </ul>    
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Java</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%" style="width:90%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                     <div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%" style="width:90%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Javascript &amp; React</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%" style="width:80%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Scala</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%" style="width:80%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                     <div class="item">
                        <h3 class="level-title">MySQL &amp; PostgreSQL</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%" style="width:80%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Play Framework</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="85%" style="width:80%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                   
                       <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%" style="width:70%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
            
            
            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Programmer</h3>
                            <div class="time">Feb 2017 - Dec 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">University of New Mexico, Health Science Center</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Using Scala and Play framework to develop <a >Camino</a>, a web application for clinical trial and research resource management. </p>  
                        <ul>
                        <li>As one of the main code contributors, participated in project design, implementation and deployment.</li>
                        <li>Developed responsive webpages for displaying services availability in calendar and managing appointments using JavaScript and React.js.</li>
                        <li>Developed an internal message system using Apache Kafka as the publishing system, React and WebSocket for front-end real-time message delivery, MySQL and Slick for storage and history query.</li>
                        <li>Integrated Drools rules management system, allowing flexible rule change for a permission system for accessing patient data.</li>
                        </ul>
                        
                    </div><!--//details-->
                </div><!--//item-->
               
       
               
                
            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Course Work related senior projects</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/hehaijin/ZombieHouse">ZombieHouse</a></span> - <span class="project-tagline"> A JavaFx based 3D video game, controling a player to survive in a dungeon house full of zombies.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="" target="_blank">AntWorld</a></span> - 
                    <span class="project-tagline"> A online multiple user program aimed to control an ant coloy and compete with other colonies for food and resource </span>
                </div><!--//item-->
                
                 <div class="item">
                    <span class="project-title"><a href="http://cs.unm.edu/~haijin/project/test.php" target="_blank">Airline Query system</a></span> - 
                    <span class="project-tagline"> A database backed web application for querying airlines </span>
                </div><!--//item-->
                
                  <div class="item">
                    <span class="project-title"><a href="/conway" target="_blank">3D Conway's Game of Life</a></span> - 
                    <span class="project-tagline"> A JavaFx based 3D version of Conway's game of life </span>
                </div><!--//item-->
                
                   <div class="item">
                    <span class="project-title"><a href="/wordpath" target="_blank">WordPath</a></span> - 
                    <span class="project-tagline"> A web application impletemed in play framework using Java and Scala, calculating the shortest path from 2 words.</span>
                </div><!--//item-->
            
            </section><!--//section-->
            
            
            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Course Work</h2>
                <div class="intro">
                    <p>Data Mining Techniques, Machine Learning, Advanced machine Learning, Design of Large Programs, Computer Networks, Database, Data Structure and Algorithms, Digital Image Processing, Reverse Engineering, Software Testing, Geometric and Probabilistic Methods in Computer Science. </p>
                </div><!--//intro-->
                
            </section>
            
            
            
        </div><!--//main-body-->
    </div>
      
      
      
      
      
      
      <a class="anchor" id="portfolio"></a>
      
       
       <div class="container" >
        <h1>My projects</h1>
        <p class="lead"> More detailed description of some of my projects with demo.</p>
      </div>
      
    
        <div class="container projectwrapper" >
        <h3><i class="fa fa-link"></i><a href="/camino">Camino</a></h3>
        <p> Camino is web application used internally by University of New Mexico, Health Science Center to manage clinical trials and research resources. </p>
        <p> I participated in its 2.0 version implementation, where the whole system is migratedd from Salesforce to a React.js/Play Framework/Scala/MySQL solution.</p>

      </div>
     
      <br>
      <br>
      
       <div class="container projectwrapper" >
        <h3><i class="fa fa-link"></i><a href="https://github.com/hehaijin/ZombieHouse">ZombieHouse</a></h3>
        <p></p>
        <p> A JavaFx based 3D game. Player is trapped in a dungeon. His mission is to find the exit, and keep him self from being killed by zombies. </p>
        <p> The source code can be found at <a href='https://github.com/hehaijin/ZombieHouse'>GitHub</a> </p>

      </div>
      <br>
      <br>
      
       <div class="container projectwrapper" >
        <h3><i class="fa fa-link"></i><a href="http://cs.unm.edu/~haijin/project/test.php">Airline Query System</a></h3>
        <p> The final project for <cite>Database Management <cite>.</p>
        <p> The database is from <a href='https://openflights.org/data.html'>Open Flights database</a> </p>
        

      </div>
      <br>
      <br>
        <div class="container projectwrapper" >
        <h3><i class="fa fa-link"></i><a href="/conway">3D Conway's Game of Life</a></h3>
        <p> This web app calculates the shortest path it takes to transform one word into another.
          Each step of transformation allows three types of operation: single character substitution or deletion or insertion. and the 2 words and each step between them must be in the dictionary. </p>
         <p> Check out the source code from <a href='https://github.com/hehaijin/3D-Conway-life'>GitHub</a> </p>
      </div>
      
      <br>
      <br>
       <div class="container projectwrapper" >
        <h3><i class="fa fa-link"></i><a href="/wordpath">WordPath</a></h3>
        <p> This web app calculates the shortest path it takes to transform one word into another.
          Each step of transformation allows three types of operation: single character substitution or deletion or insertion. and the 2 words and each step between them must be in the dictionary. </p>
          <p>This is a Java programming assignment from CS351 <cite>Design of large programs</cite>, which was then transformed into a web application after I learned web programming.</p>
          <p> Check out the source code from <a href='https://github.com/hehaijin/wordpath'>GitHub</a> </p>
      </div>
      <br>
      <br>
        <div class="container projectwrapper" >
        <h3><i class="fa fa-link"></i><a href="/wordpath">Machine Learning Algorithms</a></h3>
        <p> During clases of <strong>Data Mining Techniques, Machine Learning, Advanced Machine Learning</strong>, I've implemented from scratch several algorithm with Python.</p>
         <ul class="list-group">
            <li class="list-group-item"><a href="https://github.com/hehaijin/DecisionTree">Decision Tree Algorith: used to predict Intron/Exon feature for nucleitdie sequences</a></li>
            <li class="list-group-item"><a href="https://github.com/hehaijin/perceptron-algorithm">Perceptron Algorithm: to linearly classify data points.</a></li>
            <li class="list-group-item"><a href="https://github.com/hehaijin/EM-algorithm-for-ML">Expectation Maximization</a></li>
            
          </ul>
          
      </div>
        <br>
      <br>
  
       <a class="anchor"id="contactme"></a>
       <div class="container">
        <h1>Other Links</h1>
       </div>
       <div class="container projectwrapper" >
       
      <br>
        <ul class="list-group">
            <li class="list-group-item"><a href="https://www.linkedin.com/in/haijin-he-0b9a9225/">Linkedin</a></li>
            <li class="list-group-item"><a href="https://github.com/hehaijin">Github</a></li>
            <li class="list-group-item"><a href="https://stackoverflow.com/users/6642614/haijin">Stack Overflow</a></li>
            <li class="list-group-item"><a href="https://www.kaggle.com/hehaijin">Kaggle</a></li>
          </ul>
        
        
        
      </div>
      
         <br>
      <br>
      
       <a class="anchor" id="site"></a> 
       <div class="container">
        <h1>About this website</h1>
        </div>
       
       
       <div class="container projectwrapper" >
       <br>
        <ul class="list-group">
            <li class="list-group-item">Front End: Bootstrap, Font-Awsome, JavaScript</li>
            <li class="list-group-item">Back End: Scala, Java, Play Framework</li>
            <li class="list-group-item">Html Tempaltes: <a href='https://github.com/xriley/Orbit-Theme'> orbit theme</a>
            <li class="list-group-item">Deployment to Amazon web service with BoxFuse</li>
            <li class="list-group-item">The source code of the website can be found at: <a href="https://github.com/hehaijin/hehaijin">Github</a> </li>
            
          </li>
            
          </ul>
        
        
        
      </div>
      
 

    
    
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
       
      <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script type='text/javascript' 
  src='@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")'></script>
    </body>
</html>
